~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~ http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

  ------
  Require No Repositories
  ------
  Brian Fox
  ------
  Novemer 2007
  ------

Require No Repositories

   This rule checks that this pom or its parents don't define a repository.

   The following parameters are supported by this rule:

   * banRepositories - Whether to ban non-plugin repositories. By default they are banned (true).

   * banPluginRepositories - Whether to ban plugin repositories. By default they are banned (true).

   * allowedRepositories - Specify explicitly allowed non-plugin repositories. This is a list of ids.

   * allowedPluginRepositories - Specify explicitly allowed plugin repositories. This is a list of ids.

   * allowSnapshotRepositories - Whether to allow repositories which only resolve snapshots. By default they are banned (false).

   * allowSnapshotPluginRepositories - Whether to allow plugin repositories which only resolve snapshots. By default they are banned (false).

   []

   Sample Plugin Configuration (showing some defaults, defaults can be skipped):

+---+
<project>
  [...]
  <build>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-enforcer-plugin</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <id>enforce-no-repositories</id>
            <goals>
              <goal>enforce</goal>
            </goals>
            <configuration>
              <rules>
                <requireNoRepositories>
                  <message>Best Practice is to never define repositories in pom.xml (use a repository manager instead)</message>
                </requireNoRepositories>
              </rules>
            </configuration>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
  [...]
</project>
+---+